.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	// border-bottom: 1px solid white;
	&__logo {
		height: 80px;
	}
	&__list {
		display: flex;
		list-style: none;
	}
	& li a {
		color: white;
		padding: 1rem;
		text-decoration: none;
		&:hover {
			color: rgb(80, 80, 241);
		}
	}
}
