.hero {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	min-height: 100vh;
	height: 100vh;
	margin-top: -80px;
	&__intro {
		margin-bottom: 1rem;
		color: #008afb;
		font-size: 1.6rem;
	}
	&__heading {
		color: #ccd6f6;
		font-size: 3.2rem;
	}
	&__title {
		margin-bottom: 3rem;
		color: #8892b0;
		font-size: 3.2rem;
	}
	&__description {
		margin-bottom: 6rem;
		color: #8892b0;
		font-size: 1.6rem;
	}
	&__btn {
		padding: 1.75rem;
		color: #008afb;
		background-color: transparent;
		border: 1px solid #008afb;
		border-radius: 2px;
		font-size: 1.6rem;
		cursor: pointer;
		transition: background-color 0.2s;

		&:hover {
			background-color: rgba(#008afb, 0.1);
		}
	}
}

@media (min-width: 768px) {
	.hero {
		margin-top: -100px;
		&__heading {
			font-size: 6rem;
		}
		&__title {
			font-size: 6rem;
		}
		&__description {
			width: 60%;
		}
	}
}
