.projects {
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__card {
		margin-bottom: 2rem;
		padding: 2rem;
		background-color: rgba($color: #008afb, $alpha: 0.05);
		border-radius: 5px;
	}

	&__featured {
		margin-bottom: 0.4rem;
		color: #008afb;
		font-size: 1.3rem;
	}

	&__title {
		margin-bottom: 2rem;
		font-size: 2rem;
		a {
			transition: color 0.2s;
		}
		a:hover {
			color: #008afb;
		}
	}

	&__description {
		margin-bottom: 2rem;
		font-size: 1.6rem;
		line-height: 1.4;
	}

	&__technology {
		display: flex;
		margin-bottom: 2rem;
		font-size: 1.2rem;
		li {
			margin-right: 1rem;
		}
	}

	&__links {
		svg {
			transition: stroke 0.1s;
		}
		a {
			margin-right: 1rem;
			&:hover {
				svg {
					stroke: #008afb;
				}
			}
		}
		svg {
			height: 19px;
		}
	}

	&__links a:last-child {
		svg {
			height: 21px;
		}
	}
}

@media (min-width: 992px) {
	.projects {
		max-width: 85%;
		margin: 0 auto;
	}
}

@media (min-width: 1200px) {
	.projects {
		max-width: 70%;
	}
}
