---
import Layout from '../layouts/Layout.astro'
import Wrapper from '../layouts/Wrapper.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'

import Footer from '../components/Footer.astro'
---

<Layout title='Codecave'>
	<Header />
	<main>
		<Hero />
		<About />

		<section id='experience' class='experience'>
			<div class='section-heading'>
				<h2><span>02.</span> Where I've Worked</h2>
			</div>
			<div class='experience-content'>
				<div class='tablist'>
					<button><span>Upstatement</span></button>
					<button><span>Scout</span></button>
				</div>
				<div class='jobs'>
					<div class='panel-0'>
						<h3>Engineer <span>&nbsp;@&nbsp; <a href='#'>Upstatement</a></span></h3>
						<p></p>
						<div>
							<ul>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
					<div class='panel-1'></div>
					<div class='panel-2'></div>
				</div>
			</div>
		</section>

		<section id='projects' class='projects'>
			<div class='section-heading'>
				<h2><span>03.</span> Some Things I've Built</h2>
			</div>
			<ul>
				<li>
					<div class='project__content'>
						<div>
							<p>Featured Project</p>
							<h3>Justashop App</h3>
							<div><p>E-commerce app using Fake Store API and React Hook Form with Firebase Authentication.</p></div>
							<ul>
								<li>React</li>
								<li>JavaScript</li>
							</ul>
							<div>
								<a
									href='https://github.com/bartoszsdr/justashop-app'
									aria-label='GitHub Link'
									rel='noopener noreferrer'
									target='_blank'>GitHub</a
								>
								<a
									href='https://justashop.netlify.app/'
									aria-label='LiveView Link'
									rel='noopener noreferrer'
									target='_blank'>Link</a
								>
							</div>
						</div>
					</div>
					<div><a href='#'>Image</a></div>
				</li>
			</ul>
		</section>

		<section id='contact' class='contact'>
			<div class='section-heading'>
				<h2><span>04.</span> Get in Touch</h2>
			</div>
			<p>
				I'm looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say
				hi, I'll try my best to get back to you!
			</p>
			<a href='mailto:bartoszsdr@gmail.com' rel='noopener noreferrer' target='_blank'>Say Hello</a>
		</section>
	</main>
	<Footer />
</Layout>
