---
import Layout from '../layouts/Layout.astro'

import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
---

<Layout title='Codecave | Web Development'>
	<Header />
	<main class='main-page'>
		<div class='wrapper'>
			<Hero />
			<About />
			<Experience />
			<Projects />
			<Contact />
		</div>
	</main>
	<Footer />
</Layout>

<style>
	.wrapper {
		margin: 0 auto;
		padding: 0 2.2rem;
		width: 100%;
		max-width: 1400px;
	}

	@media (min-width: 768px) {
		.wrapper {
			padding: 0 8rem;
		}
	}

	@media (min-width: 992px) {
		.wrapper {
			padding: 0 16rem;
		}
	}
</style>
