<section id='about' class='about section-padding'>
	<div class='section-heading'>
		<h2><span class='code'>01.</span> About Me</h2>
	</div>
	<div class='about__content'>
		<p>
			Hello! My name is Bartosz and I enjoy creating things that live on the Internet. My interest in web development
			started back in 2016 when I decided to try creating a website for my friend using custom WordPress themes — turns
			out meanwhile I learned a lot about HTML & CSS!
		</p>
		<p>
			Fast-forward to today, and I've had the privilege of working with a variety of clients. My main focus these days
			is building accessible and responsive websites.
		</p>
		<p>Here are a few technologies I've been working with recently:</p>
		<ul class='about__list code'>
			<li>JavaScript (ES6+)</li>
			<li>React</li>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>TypeScript</li>
			<li>Firebase</li>
		</ul>
	</div>
</section>

<style lang='scss'>
	.about {
		&__content {
			margin-top: 2rem;
			color: #8892b0;
			p {
				margin-bottom: 1rem;
				line-height: 1.4;
				font-size: 1.6rem;
			}
		}
		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 30px;
			grid-row-gap: 15px;
			margin-top: 2rem;
			font-size: 1.3rem;
			grid-area: 1 / 1 / 4 / 3;

			li::before {
				content: '>';
				margin-right: 0.8rem;
				color: #008afb;
				font-weight: bold;
			}
		}
	}
</style>
