---
import '../styles/experience.scss'
---

<section id='experience' class='experience section-padding'>
	<div class='section-heading'>
		<h2><span>02.</span> Where I've Worked</h2>
	</div>
	<div class='tabs'>
		<div class='tabs__controls code'>
			<button class='tabs__btn active' data-id='tab-0'>Codecave</button>
			<button class='tabs__btn' data-id='tab-1'>Eko-Steel Trade</button>
		</div>

		<div class='tabs__content'>
			<div class='tabs__tab active' id='tab-0'>
				<h3>Web Developer <span>&nbsp;@&nbsp;<a href='#'>Codecave</a></span></h3>
				<p class='tabs__range code'>Oct 2021 - Present</p>
				<div class='tabs__duties'>
					<ul>
						<li>Write high standard and efficient code by using web development best practices.</li>
						<li>Handle every aspect of the process of a website's creation from layout to full functionality.</li>
						<li>Meet with, discuss, provide advice and help clients achieve their vision.</li>
						<li>Quality-test and troubleshoot the website in various browsers.</li>
					</ul>
				</div>
			</div>

			<div class='tabs__tab' id='tab-1'>
				<h3>IT Specialist <span>&nbsp;@&nbsp;<a href='#'>Eko-Steel Trade</a></span></h3>
				<p class='tabs__range code'>Jul 2021 - Sep 2021</p>
				<div class='tabs__duties'>
					<ul>
						<li>Responsible for maintenance, optimization and backup of internal servers and databases</li>
						<li>Evaluated new hardware and software to meet company requirements</li>
						<li>Responsible for troubleshooting system (Windows, macOS) issues and providing solutions</li>
						<li>Provided technical advice and assistance to office staff</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script>
		const tabsBtns = document.querySelectorAll('.tabs__btn')
		const tabsContents = document.querySelectorAll('.tabs__tab')

		const toggleTab = e => {
			const id = e.target.dataset.id
			console.log(id)
			if (id) {
				tabsBtns.forEach(btn => {
					btn.classList.remove('active')
				})
				e.target.classList.add('active')

				tabsContents.forEach(content => {
					content.classList.remove('active')
				})
				const element = document.getElementById(id)
				element.classList.add('active')
			}
		}

		tabsBtns.forEach(btn => btn.addEventListener('click', toggleTab))
	</script>
</section>
