---
import logo from '../images/logo.png'
import '../styles/header.scss'
---

<header>
	<nav class='nav'>
		<a href='#'><img class='nav__logo' src={logo} alt=' Logo Codecave' /></a>

		<ol class='nav__list code'>
			<li class='nav__item'><a href='#about'><span>01.</span> About</a></li>
			<li class='nav__item'><a href='#experience'><span>02.</span> Experience</a></li>
			<li class='nav__item'><a href='#projects'><span>03.</span> Work</a></li>
			<li class='nav__item'><a href='#contact'><span>04.</span> Contact</a></li>
		</ol>

		<button class='hamburger'>
			<span class='hamburger__container'>
				<span class='hamburger__top'></span>
				<span class='hamburger__middle'></span>
				<span class='hamburger__bottom'></span>
			</span>
		</button>
	</nav>

	<div class='nav__left'>
		<ul>
			<li>
				<a href='https://github.com/bartoszsdr' aria-label='GitHub link' rel='noopener noreferrer' target='_blank'
					><svg
						xmlns='http://www.w3.org/2000/svg'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						fill='none'
						stroke='#ccd6f6'
						stroke-width='2'
						stroke-linecap='round'
						stroke-linejoin='round'
						class='feather feather-github'
						><path
							d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'
						></path>
					</svg>
				</a>
			</li>
		</ul>
	</div>

	<div class='nav__right'>
		<div>
			<a class='code' href='mailto:bartoszsdr@gmail.com' rel='noopener noreferrer' target='_blank'
				>bartoszsdr@gmail.com</a
			>
		</div>
	</div>
</header>

<script>
	const nav = document.querySelector('.nav__list')
	const navItems = document.querySelectorAll('.nav__item')
	const hamburger = document.querySelector('.hamburger')
	const main = document.querySelector('.main-page')

	const toggleNav = () => {
		if (nav.classList.contains('show-nav')) {
			nav.classList.remove('show-nav')
			hamburger.classList.remove('active')
			document.body.classList.remove('fixed-body')
			main.classList.remove('page-blur')
		} else if (window.innerWidth < 992) {
			nav.classList.add('show-nav')
			hamburger.classList.add('active')
			document.body.classList.add('fixed-body')
			main.classList.add('page-blur')
		}
	}

	hamburger.addEventListener('click', toggleNav)

	navItems.forEach(function (navItem) {
		navItem.addEventListener('click', toggleNav)
	})
</script>
