---
import logo from '../images/logo.png'
---

<header>
	<nav class='nav'>
		<a href='#'><img class='nav__logo' src={logo} alt=' Logo Codecave' /></a>

		<ol class='nav__list code'>
			<li class='nav__item'><a href='#about'><span>01.</span> About</a></li>
			<li class='nav__item'><a href='#experience'><span>02.</span> Experience</a></li>
			<li class='nav__item'><a href='#work'><span>03.</span> Work</a></li>
			<li class='nav__item'><a href='#contact'><span>04.</span> Contact</a></li>
			<!-- <li class='nav__item'><button><a href='#contact'>Resume</a></button></li> -->
		</ol>

		<button class='hamburger'>
			<span class='hamburger__container'>
				<span class='hamburger__top'></span>
				<span class='hamburger__middle'></span>
				<span class='hamburger__bottom'></span>
			</span>
		</button>
	</nav>
</header>

<style lang='scss'>
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;

		&__logo {
			height: 50px;
			z-index: 5;
		}

		&__list {
			position: fixed;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			background-color: #0c1d2f;
			transform: translateX(100%);
			transition: transform 0.2s;
		}

		&__item {
			margin: 2rem;
			a {
				padding: 1rem;
				font-size: 1.6rem;
				transition: color 0.1s;
			}

			a:hover {
				color: #008afb;
			}

			span {
				color: #008afb;
				font-size: 1.2rem;
			}
		}
	}

	.hamburger {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 0.4rem;
		width: 30px;
		height: 30px;
		background-color: transparent;
		z-index: 10;

		&__container {
			position: relative;
			width: 16px;
			height: 14px;
			overflow: hidden;
		}

		&__top {
			top: 0;
			left: 0;
			transform: translate(0);
		}

		&__middle {
			top: 6px;
			left: 0;
			transform: translate(8px);
		}

		&__bottom {
			top: 12px;
			left: 0;
			transform: translate(4px);
		}

		&__top,
		&__middle,
		&__bottom {
			position: absolute;
			width: 16px;
			height: 2.1px;
			background-color: #008afb;
			transition: transform 0.25s;
		}

		&:hover &__top {
			transform: translate(4px);
		}

		&:hover &__middle {
			transform: translate(0);
		}

		&:hover &__bottom {
			transform: translate(8px);
		}
	}

	.active {
		.hamburger__top {
			top: 6px;
			transform: translate(0) rotate(225deg);
		}

		.hamburger__middle {
			top: 6px;
			transform: translate(16px);
		}

		.hamburger__bottom {
			top: 6px;
			transform: translate(0) rotate(135deg);
		}
	}

	.hamburger.active {
		.hamburger__top,
		.hamburger__middle,
		.hamburger__bottom {
			transition: background-color 0.25s;
		}

		&:hover {
			.hamburger__top {
				background-color: #006dc7;
				transform: translate(0) rotate(225deg);
			}

			.hamburger__middle {
				background-color: #006dc7;
				transform: translate(16px);
			}

			.hamburger__bottom {
				background-color: #006dc7;
				transform: translate(0) rotate(135deg);
			}
		}
	}

	.show-nav {
		transform: translateX(25%);
	}

	@media (min-width: 768px) {
		.nav {
			height: 100px;
			&__logo {
				height: 70px;
			}
			&__list {
				position: static;
				flex-direction: row;
				margin-bottom: 0.25rem;
				background-color: transparent;
				z-index: 0;
				transform: none;
			}
			&__item {
				a {
					padding: 0.5rem;
					font-size: 1.3rem;
				}
			}
		}
		.hamburger {
			display: none;
		}
	}
</style>

<script>
	const nav = document.querySelector('.nav__list')
	const navItems = document.querySelectorAll('.nav__item')
	const hamburger = document.querySelector('.hamburger')
	const main = document.querySelector('.main-page')

	const toggleNav = () => {
		if (nav.classList.contains('show-nav')) {
			nav.classList.remove('show-nav')
			hamburger.classList.remove('active')
			document.body.classList.remove('fixed-body')
			main.classList.remove('page-blur')
		} else if (window.innerWidth < 992) {
			nav.classList.add('show-nav')
			hamburger.classList.add('active')
			document.body.classList.add('fixed-body')
			main.classList.add('page-blur')
		}
	}

	hamburger.addEventListener('click', toggleNav)

	navItems.forEach(function (navItem) {
		navItem.addEventListener('click', toggleNav)
	})
</script>
