---
import '../styles/hero.scss'
---

<section class='hero'>
	<div>
		<p class='hero__intro code'>Hi, my name is</p>
	</div>
	<div>
		<h1 class='hero__heading'>Bartosz Sidorowicz.</h1>
	</div>
	<div>
		<h2 class='hero__title'>I build things for the web.</h2>
	</div>
	<div>
		<p class='hero__description'>
			I'm a front-end web developer specializing in building (and occasionally designing) exceptional digital experiences.
			Currently, I'm focused on building accessible, human-centered products while freelancing.
		</p>
	</div>
	<div>
		<a class='hero__btn code' href='#projects'>See my projects</a>
	</div>
</section>
