<section id='experience' class='experience'>
	<div class='section-heading'>
		<h2><span>02.</span> Where I've Worked</h2>
	</div>
	<div class='inner'>
		<div class='tablist code'>
			<button class='active'><span>Codecave</span></button>
			<button><span>Eko-Steel Trade</span></button>
		</div>
		<div class='jobs'>
			<div class='panel-0'>
				<h3>Web Developer <span>&nbsp;@&nbsp;<a href='#'>Codecave</a></span></h3>
				<p class='range code'>Dec 2021 - Present</p>
				<div class='duties'>
					<ul>
						<li>Write modern, performant, maintainable code for a diverse array of client and internal projects</li>
						<li>
							Communicate with multi-disciplinary teams of engineers, designers, producers, and clients on a daily basis
						</li>
						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, dolorum aut quia rem vero ea?</li>

						<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, vel.</li>
					</ul>
				</div>
			</div>
			<!-- <div class='panel-1'></div>
			<div class='panel-2'></div> -->
		</div>
	</div>
</section>

<style lang='scss'>
	.experience {
		padding: 5rem 0;
	}
	.inner {
		padding: 0 1rem;
	}
	.tablist {
		margin-top: 2rem;
		cursor: pointer;
		button {
			color: white;
			background-color: transparent;
			padding: 1rem 2rem;
			border-bottom: 2px solid white;
			margin: 0 -0.3rem;
		}
		button:hover {
			background-color: #112240;
		}
		button.active {
			color: #008afb;
			background-color: #112240;
			border-bottom: 2px solid #008afb;
		}
	}
	.panel-0 {
		margin-top: 2rem;
		a,
		span {
			color: #008afb;
		}
		h3 {
			padding: 0.7rem 0;
			font-size: 2rem;
		}
		li {
			position: relative;
			padding-left: 2rem;
			margin: 1rem 0;
			line-height: 1.4;
			font-size: 1.2rem;
			span {
				margin-right: 1rem;
				font-weight: bold;
			}
			&::before {
				content: '>';
				position: absolute;
				left: 0px;
				color: #008afb;
				font-weight: bold;
			}
		}
		.range {
			font-size: 1.1rem;
		}
		.duties {
			padding: 1.2rem 0;
		}
	}
</style>
